.btn-word-state {
    width: 100%;
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    touch-action: manipulation;
   }
   
   .shadow-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .edge-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
       to left,
       hsl(340deg 100% 16%) 0%,
       hsl(340, 100%, 34%) 8%,
       hsl(340deg 100% 32%) 92%,
       hsl(340deg 100% 16%) 100%
     );
   }
   
   .front-btn {
    display: block;
    position: relative;
    padding: 20px 40px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345, 100%, 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform
       600ms
       cubic-bezier(.3, .7, .4, 1);
   }
   
   .btn-word-state:hover {
    filter: brightness(110%);
   }
   
   .btn-word-state:hover .front-btn {
    transform: translateY(-6px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .btn-word-state:active .front-btn {
    transform: translateY(-2px);
    transition: transform 34ms;
   }
   
   .btn-word-state:hover .shadow-btn {
    transform: translateY(4px);
    transition: transform
       250ms
       cubic-bezier(.3, .7, .4, 1.5);
   }
   
   .btn-word-state:active .shadow-btn {
    transform: translateY(1px);
    transition: transform 34ms;
   }
   
   .btn-word-state:focus:not(:focus-visible) {
    outline: none;
   }