.words-section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.words-content{
    min-height: calc(100vh - 80px);
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.my-words-description{
    font-size: 2rem;
    margin-top: 6rem;
}
.my-words-description span img{
    width: 50px;
    margin-left: 0.5rem;
}
.study-option{
    height: 100%;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.vocabulary-option , .review-option{
    width: 450px;
    height: 300px;
    background-color:#2f3f50 ;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;

}
.vocabulary-option:hover , .review-option:hover{
    background-color:#212c38 ;
}

.vocabulary-option img , .review-option img{
    width: 80px;
}

.vocabulary-open ,.review-open{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
}

.review-open-description{
    color:#222831;
    font-size: 2rem;
    margin-top: 6rem;
}
.review-open p span img{
    width: 50px;
}

.btn-back-container{
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.modal-add-position{
    position: fixed;
    top: 95px ;
    left: 300px;
}

.probando-xd{
    position: relative;
}

.info-container{
    z-index: 20;
    position: absolute;
    /* padding: 0 24%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* .my-modal{
  position: absolute;
  top: 20%;
} */

.carousel-btns-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* justify-content: space-evenly; */
    width: 100%;
}
.btns-container-options{
    margin-left: 2rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.btn-option-selected{
    width: 100%;
}

.btn-back-wordLearned{
    position:fixed;
    bottom: 50px;
    right: 50px;
}